<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <dx-data-grid id="gridContainer" [dataSource]="cases" keyExpr="id" [showColumnLines]="true"
            [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true">
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
            <dxi-column dataField="id" caption="ID" [width]="80"></dxi-column>

            <dxi-column dataField="created_on" alignment="right" dataType="datetime" format="M/d/yyyy, hh:mm"
                [width]="180"></dxi-column>

            <dxi-column dataField="case_number"></dxi-column>
            <dxi-column dataField="closed"></dxi-column>
            <dxi-column dataField="company_active"></dxi-column>
            <dxi-column dataField="profile_active"></dxi-column>

        </dx-data-grid>

        <!-- {
            "id": 1,
            "profile_id": 1,
            "vonage_video_sid": "",
            "created_on": "2021-08-10T22:15:31.556Z",
            "company_active": true,
            "profile_active": true,
            "case_number": 1000,
            "closed": false
        } -->


    </div>

</div>