<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->

        <button class="mb-4" [routerLink]="['/forms/provider/form' ]" mat-raised-button color="primary">New Provider Form</button>

        <dx-data-grid id="gridContainer" [dataSource]="forms" keyExpr="id" [showColumnLines]="true"
            [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true" (onRowClick)="gotoRow($event)">
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
            <dxi-column dataField="id" caption="ID" [width]="80"></dxi-column>


            <dxi-column dataField="name"></dxi-column>
            <dxi-column dataField="active"></dxi-column>

        </dx-data-grid>


    </div>

</div>