::ng-deep .mat-icon-button-custom{
    width:20px !important;
}
.sig-container {
    margin-top: 15px;
  background-image: url(/assets/sign-here.png);
  background-repeat: no-repeat;
//   background-position-y: 95%;
 border-style: dashed;
 border-width: 1px;
}