<div class="datalistItemDialog">
    <div class="datalistItemContent">
    <div class="datalistItemDialogForm">
        <div>

            <h4>Datalist Item</h4><br />
            <div>
                <form [formGroup]="datalistItemForm" (ngSubmit)="onSubmit()">

                    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
          
                        <!-- Title -->
                        <div class="sm:col-span-1">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Key</mat-label>
                                <fa-icon [icon]="['fas', 'circle-info']" class="icon-size-5" matPrefix></fa-icon>
                                <input required="true" [formControlName]="'key'" matInput>
                            </mat-form-field>
                        </div>
                        <!-- Title -->
                        <div class="sm:col-span-1">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Value</mat-label>
                                <fa-icon [icon]="['fas', 'circle-info']" class="icon-size-5" matPrefix></fa-icon>
                                <input required="true" [formControlName]="'value'" matInput>
                            </mat-form-field>
                        </div>                        
                        <div class="sm:col-span-1">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Active</mat-label>
        
                                <input [hidden]="true" [formControlName]="'active'" matInput>
                                <mat-checkbox [formControlName]="'active'">Active?</mat-checkbox>
                            </mat-form-field>
                        </div>
        

    
    
        
                    
                    </div>                        

                    <br />
                <!-- Actions -->
                <div class="flex items-center justify-start">
                    <button (click)="closeDialog()" mat-stroked-button type="button">
                        Cancel
                    </button>
                    <button [disabled]="this.datalistItemForm.invalid" class="ml-4" mat-flat-button type="submit" [color]="'primary'">Save
                    </button>
                </div>
                </form>

        </div>          


        
    </div>
    <div style="height: 20px;">&nbsp;</div>

</div>